@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-width: 20rem;
    background: var(--color-canvas);
  }

  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  body {
    min-height: 100dvh;
  }

  button,
  input,
  select,
  textarea {
    color: inherit;
    font: inherit;
  }

  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  img,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  button {
    border: 0;
  }
}

